@use 'sass:color' as color;
@import '../../assets/variables.scss';

.bingo-table {
	margin: auto;
}

.bingo-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bingo-cell {
	width: 30vw;
	height: 23vh;
	max-height: 400px;
	max-width: 400px;
	text-align: center;
	position: relative;
	border: 2px solid black;
	padding: 0;
	margin: 2px;
}


  
.button-holder {
	display: flex;
	justify-content: center;
	align-items: center;

}

.word-button {
	font-family: "Quicksand";
	font-size: 6vw;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	padding: .25em 1em;
	font-weight: bold;
	cursor: pointer;
	&.play-button {
		background-color: $lime;
		display: flex;
		align-items: center;
		.icon {
			fill: $lemon;
			width: 1em;
			height: 1em;
		}
		&:hover {
			background-color: color.adjust($lime, $lightness: 10%);
		}
	}

	&.new-game {
		background: linear-gradient(-45deg, $aqua, $lime);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		animation-delay: 4s;

		border: 2px solid $lemon;
		box-shadow: 0 0 10px $lemon;
		border-radius: 10px;

		&:hover {
			background: color.adjust($aqua, $lightness: 10%);
			box-shadow: none;
			border: 2px solid $marina;
		}
	}
	&.repeat-word {
		background-color: $lemon;
		&:hover {
			background-color: color.adjust($lemon, $lightness: 10%);
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}