{{ currentWord }}
<table class="bingo-table">
	<tbody>
		<tr *ngFor="let row of cardGrid">
			<td *ngFor="let cell of row" class="bingo-cell">
				<button class="bingo-button" (click)="checkWord(cell)" [ngClass]="{'fade-out' : cell.state == wordState.correct || cell.state == wordState.bingo }">
					{{cell.word}}
				</button>
				<ng-container [ngSwitch]="cell.state">
					<ng-container *ngSwitchCase="wordState.correct">
						<div class="bingo-correct">
							<i-feather name="star" class="icon"></i-feather>
						</div>
					</ng-container>
					<ng-container *ngSwitchCase="wordState.bingo">
						<div class="bingo-bingo">
							<i-feather name="heart" class="icon"></i-feather>
						</div>
					</ng-container>
				</ng-container>
			</td>
		</tr>
	</tbody>
</table>
<button class="word-button">Repeat Word</button>
<button class="word-button">New Game</button>