<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

<script defer src="../../node_modules/@fortawesome/js/brands.js"></script>
<script defer src="../../node_modules/@fortawesome/js/solid.js"></script>
<script defer src="../../node_modules/@fortawesome/js/fontawesome.js"></script>
<script src="assets/confetti-falling-animation/confetti.js"></script>
</head>

<app-bingo-card></app-bingo-card>
<canvas class="confetti" id="confetti-canvas"></canvas>